In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data=pd.read_csv("race_religion.csv")
data

     race            religion         1         2
0    Arab            Agnostic  0.457627  0.542373
1    Arab             Atheist  0.207547  0.792453
2    Arab            Buddhist  0.666667  0.333333
3    Arab  Christian_Catholic  0.294118  0.705882
4    Arab    Christian_Mormon  0.500000  0.500000
..    ...                 ...       ...       ...
76  White               Hindu  0.578947  0.421053
77  White              Jewish  0.559441  0.440559
78  White              Muslim  0.315789  0.684211
79  White               Other  0.490998  0.509002
80  White                Sikh  0.800000  0.200000

[81 rows x 4 columns]

In [6]:
data['race'].value_counts()

White                    12
Arab                     12
Asian                    12
Other                    12
Native American          12
Black                    11
Indigenous Australian    10
Name: race, dtype: int64

In [7]:
data[data['race']=='White']

     race              religion         1         2
69  White              Agnostic  0.496780  0.503220
70  White               Atheist  0.465390  0.534610
71  White              Buddhist  0.503125  0.496875
72  White    Christian_Catholic  0.524818  0.475182
73  White      Christian_Mormon  0.387187  0.612813
74  White       Christian_Other  0.487819  0.512181
75  White  Christian_Protestant  0.608988  0.391012
76  White                 Hindu  0.578947  0.421053
77  White                Jewish  0.559441  0.440559
78  White                Muslim  0.315789  0.684211
79  White                 Other  0.490998  0.509002
80  White                  Sikh  0.800000  0.200000

White의 경우 Sikh, Christian_Protestant 종교를 믿는 사람이 투표를 할 확률이 높고, Muslim, Christian_Mormon을 믿는 사람이 투표를 안할 확률이 높다

In [5]:
data[data['race']=='Arab']

    race              religion         1         2
0   Arab              Agnostic  0.457627  0.542373
1   Arab               Atheist  0.207547  0.792453
2   Arab              Buddhist  0.666667  0.333333
3   Arab    Christian_Catholic  0.294118  0.705882
4   Arab      Christian_Mormon  0.500000  0.500000
5   Arab       Christian_Other  0.571429  0.428571
6   Arab  Christian_Protestant  0.444444  0.555556
7   Arab                 Hindu       NaN  1.000000
8   Arab                Jewish  0.250000  0.750000
9   Arab                Muslim  0.212121  0.787879
10  Arab                 Other  0.380952  0.619048
11  Arab                  Sikh       NaN  1.000000

Arab의 경우 Buddhist, Christian_Other 종교를 믿는 사람이 투표를 할 확률이 높고, Atheist, Muslim 믿는 사람이 투표를 안할 확률이 높다

In [8]:
data[data['race']=='Asian']

     race              religion         1         2
12  Asian              Agnostic  0.275598  0.724402
13  Asian               Atheist  0.219216  0.780784
14  Asian              Buddhist  0.278027  0.721973
15  Asian    Christian_Catholic  0.344538  0.655462
16  Asian      Christian_Mormon  0.333333  0.666667
17  Asian       Christian_Other  0.259259  0.740741
18  Asian  Christian_Protestant  0.329897  0.670103
19  Asian                 Hindu  0.392523  0.607477
20  Asian                Jewish  0.800000  0.200000
21  Asian                Muslim  0.342776  0.657224
22  Asian                 Other  0.145340  0.854660
23  Asian                  Sikh  0.322581  0.677419

Asian의 경우 Jewish, Hindu 종교를 믿는 사람이 투표를 할 확률이 높고, Other, Atheist 믿는 사람이 투표를 안할 확률이 높다
-> 대체로 Asian은 투표를 안함

In [9]:
data[data['race']=='Other']

     race              religion         1         2
57  Other              Agnostic  0.378738  0.621262
58  Other               Atheist  0.360634  0.639366
59  Other              Buddhist  0.440000  0.560000
60  Other    Christian_Catholic  0.394057  0.605943
61  Other      Christian_Mormon  0.333333  0.666667
62  Other       Christian_Other  0.415205  0.584795
63  Other  Christian_Protestant  0.419087  0.580913
64  Other                 Hindu  0.327189  0.672811
65  Other                Jewish  0.425000  0.575000
66  Other                Muslim  0.295775  0.704225
67  Other                 Other  0.358696  0.641304
68  Other                  Sikh  0.437500  0.562500

Other 경우 Buddhist, Sikh 종교를 믿는 사람이 투표를 할 확률이 높고, Muslim, Christian_Mormon 믿는 사람이 투표를 안할 확률이 높다

In [11]:
data[data['race']=='Native American']

               race              religion         1         2
45  Native American              Agnostic  0.435644  0.564356
46  Native American               Atheist  0.367089  0.632911
47  Native American              Buddhist  0.444444  0.555556
48  Native American    Christian_Catholic  0.415584  0.584416
49  Native American      Christian_Mormon  0.363636  0.636364
50  Native American       Christian_Other  0.421569  0.578431
51  Native American  Christian_Protestant  0.508475  0.491525
52  Native American                 Hindu  1.000000       NaN
53  Native American                Jewish  0.666667  0.333333
54  Native American                Muslim       NaN  1.000000
55  Native American                 Other  0.349515  0.650485
56  Native American                  Sikh       NaN  1.000000

Native American 경우 Jewish, Christian_Protestant 종교를 믿는 사람이 투표를 할 확률이 높고, Other, Christian_Mormon 믿는 사람이 투표를 안할 확률이 높다

In [13]:
data[data['race']=='Black']

     race              religion         1         2
24  Black              Agnostic  0.406077  0.593923
25  Black               Atheist  0.360870  0.639130
26  Black              Buddhist  0.380952  0.619048
27  Black    Christian_Catholic  0.323944  0.676056
28  Black      Christian_Mormon  0.375000  0.625000
29  Black       Christian_Other  0.436019  0.563981
30  Black  Christian_Protestant  0.439344  0.560656
31  Black                 Hindu  0.700000  0.300000
32  Black                Jewish       NaN  1.000000
33  Black                Muslim  0.283951  0.716049
34  Black                 Other  0.401316  0.598684

Black 경우 Hindu, Christian_Protestant 종교를 믿는 사람이 투표를 할 확률이 높고, Other, Christian_Catholic 믿는 사람이 투표를 안할 확률이 높다

In [14]:
data[data['race']=='Indigenous Australian']

                     race              religion         1         2
35  Indigenous Australian              Agnostic  0.500000  0.500000
36  Indigenous Australian               Atheist  0.500000  0.500000
37  Indigenous Australian              Buddhist  1.000000       NaN
38  Indigenous Australian    Christian_Catholic  0.166667  0.833333
39  Indigenous Australian       Christian_Other  0.857143  0.142857
40  Indigenous Australian  Christian_Protestant  1.000000       NaN
41  Indigenous Australian                 Hindu       NaN  1.000000
42  Indigenous Australian                Muslim  0.500000  0.500000
43  Indigenous Australian                 Other  0.100000  0.900000
44  Indigenous Australian                  Sikh  1.000000       NaN

Indigenous Australian 경우 Christian_Other 종교를 믿는 사람이 투표를 할 확률이 높고, Other, Christian_Catholic 믿는 사람이 투표를 안할 확률이 높다

==> Muslim을 믿는 사람들은 대체로 투표를 안한다